body {
  background-image: url(../images/spacecat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  width: 40%;  
  padding: 0px;
  border: 6px double #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 40px;
  font-weight: bold; 
  text-align: center;
  color: #f2f2f2;
}

img {
  width: 10em;
  padding: 0.3em;
  border: 0em;
  margin: 0em;
} 

.backgroundpic{
  background-color:  #000000;
  border-collapse: collapse;
  border: 1px solid white;
}

#planets{
  border-collapse: collapse;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  padding: 8px;
  border: 1px solid;
  text-align: center;
  }

#planets th{
  background-color: #99bbff;
  border: 0px;
}

.fact-column{
  background-color: #FFFFFF;
  text-align: left;
}

.planet-name{
  color: #FFFFFF;
  font-family: 'Sora', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.fact-type{
  color: #FFFFFF;
  font-family: 'Sora', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.fact-column{
  border-collapse: collapse;
  border: 1px solid white;
  background-color: #80bfff;
  text-align: left;
  
}

.babyblue{
	background-color: #99bbff;
	color: #FFFFFF;
    font-family: 'Sora', sans-serif;
    font-size:  10px;

}

.darkerblue{
	background-color: #80bfff;
	color: #FFFFFF;
    font-family: 'Sora', sans-serif;
    font-size: 10px;
}

.side-titles{
  color: #FFFFFF;
  font-family: 'Sora', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.side-titles-column{
  color: #FFFFFF;
  background-color: #80bfff;
  text-align: left;
  font-family: 'Sora', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.hover:hover {
  padding: 15px;
  color: #000000;
  background-color: #F0F8FF;
  text-align: center;
  font-family: 'Sora', sans-serif;
  font-size: 14px;
} 
